<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConstructionERP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.login.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginpage</display-name>
    <servlet-name>Loginpage</servlet-name>
    <servlet-class>Loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpage</servlet-name>
    <url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEmp</display-name>
    <servlet-name>CreateEmp</servlet-name>
    <servlet-class>CreateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmp</servlet-name>
    <url-pattern>/CreateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDept</display-name>
    <servlet-name>CreateDept</servlet-name>
    <servlet-class>CreateDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDept</servlet-name>
    <url-pattern>/CreateDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProj</display-name>
    <servlet-name>CreateProj</servlet-name>
    <servlet-class>CreateProj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProj</servlet-name>
    <url-pattern>/CreateProj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProj</display-name>
    <servlet-name>EditProj</servlet-name>
    <servlet-class>EditProj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProj</servlet-name>
    <url-pattern>/EditProj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>archiCreateEmp</display-name>
    <servlet-name>archiCreateEmp</servlet-name>
    <servlet-class>archiCreateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>archiCreateEmp</servlet-name>
    <url-pattern>/archiCreateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchiCreateEmp</display-name>
    <servlet-name>ArchiCreateEmp</servlet-name>
    <servlet-class>ArchiCreateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiCreateEmp</servlet-name>
    <url-pattern>/ArchiCreateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>architectCreateEmp</display-name>
    <servlet-name>architectCreateEmp</servlet-name>
    <servlet-class>architectCreateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>architectCreateEmp</servlet-name>
    <url-pattern>/architectCreateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchEditProj</display-name>
    <servlet-name>ArchEditProj</servlet-name>
    <servlet-class>ArchEditProj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchEditProj</servlet-name>
    <url-pattern>/ArchEditProj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>architectEditProj</display-name>
    <servlet-name>architectEditProj</servlet-name>
    <servlet-class>architectEditProj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>architectEditProj</servlet-name>
    <url-pattern>/architectEditProj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentAdd</display-name>
    <servlet-name>commentAdd</servlet-name>
    <servlet-class>commentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentAdd</servlet-name>
    <url-pattern>/commentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportGen</display-name>
    <servlet-name>ReportGen</servlet-name>
    <servlet-class>ReportGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportGen</servlet-name>
    <url-pattern>/ReportGen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addComment</display-name>
    <servlet-name>addComment</servlet-name>
    <servlet-class>addComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotpass</display-name>
    <servlet-name>forgotpass</servlet-name>
    <servlet-class>forgotpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpass</servlet-name>
    <url-pattern>/forgotpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
</web-app>